<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>환율계산</title>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
</head>
<body>
	<div th:if="${#strings.equals(exchangeRate, '')}">
		<h1>API 서버에 문제가 발생하였습니다. 다시 한번 시도해주세요.</h1>
	</div>
	<div id="wrap" th:unless="${#strings.equals(exchangeRate, '')}">
		<h1>환율 계산</h1>
		<div id="contents">
			<div>
				송금국가: <span>미국(USD)</span>
			</div>
			
			<div>
				수취국가: 
				<select id="currencies" name="currencies">
					<option value="KRW">한국(KRW)</option>
					<option value="JPY">일본(JYP)</option>
					<option value="PHP">필리핀(PHP)</option>
				</select>
			</div>
			
			<div>
				환율: <span id="exchangeRate" th:text="${exchangeRate}">1,119.93</span><span id="currencyUnit"> KRW/USD</span>
			</div>
			
			<div>
				송금액: <input type="number" id="remittance" name="remittance"/> USD
			</div>
			<button id="submitBtn" type="button">Submit</button>
		</div><br>
		<div id="receivedAmount_box" style="display: none;">
			수취금액은 <span id="receivedAmount"></span><span> KRW 입니다.</span>
		</div>
	</div>

<script type="text/javascript">
var thisUtils = {
    /*******************************************
     * 페이지 상수 및 변수 정의.
     *******************************************/
    $: {
        constant: {
            RECEIVED_AMOUNT_API_URL: "http://localhost:8080/api/foreignExchange",
            EXCHANGE_RATE_API_URL: "http://localhost:8080/api/exchangeRate"
        },
        variable: {
            RECEIVED_AMOUNT_BOX_HTML: $('#receivedAmount_box').html()
        }
    },

    /*******************************************
     * 이벤트 주입.
     *******************************************/
    initEvent: function() {
        var $this = this;

        $("#submitBtn").on("click", function() {
            $this.getReceivedAmount();
        });

        $("#currencies").on("change", function() {
            $this.getExchangeRate();
        });
    },
    /*******************************************
     * function 정의
     *******************************************/
    getReceivedAmount: function() {
        var $this = this;
        const parameter = "?currencies=" + $("#currencies option:selected").val() 
        				+ "&remittance=" + $("#remittance").val();
        const settings = {
            "async": true,
            "crossDomain": true,
            "url": $this.$.constant.RECEIVED_AMOUNT_API_URL + parameter,
            "method": "GET",
            "async": false
        };

        $.ajax(settings).done(function(response) {
            if ($("#receivedAmount").length == 0) {
                $('#receivedAmount_box').html($this.$.variable.RECEIVED_AMOUNT_BOX_HTML);
            }

            $("#receivedAmount").text(response);

            if ($('#receivedAmount_box').css('display') === 'none') {
                $('#receivedAmount_box').show();
            }
        }).fail(function(error) {
        	$this.getErrorMessage(error);
        });
    },
    getExchangeRate: function() {
        var $this = this;
        const parameter = "?currencies=" + $("#currencies option:selected").val();
        const settings = {
            "async": true,
            "crossDomain": true,
            "url": $this.$.constant.EXCHANGE_RATE_API_URL + parameter,
            "method": "GET",
            "async": false
        };

        $.ajax(settings).done(function(response) {
            var currencyUnit = " " + $("#currencies option:selected").val() + "/USD"
            $("#currencyUnit").text(currencyUnit);
            $("#exchangeRate").text(response);
            $("#receivedAmount_box").hide();
        }).fail(function(error) {
        	$this.getErrorMessage(error);
        });
    },
    getErrorMessage: function(error) {
    	var $this = this;
        console.log(error);
        
        if ($('#receivedAmount_box').css('display') === 'none') {
            $('#receivedAmount_box').show();
        }

        var errorMessage = "";
        if (error.status == 400) {
            error.responseJSON.forEach(obj => errorMessage += obj.message + "\n");
        } else {
            errorMessage = "API 서버에 문제가 발생하였습니다. 다시 한번 시도해주세요.";
        }

        var htmlString = `<span style="color:red">${errorMessage}</span>`;
        $('#receivedAmount_box').html(htmlString);
    }
}

//초기화
$(document).ready(function() {
    thisUtils.initEvent();
});
</script>
</body>
</html>